<div role="alert">
  <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
    Ihre Nachricht wurde erfolgreich übermittelt
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Vorname: {{contact.vorname}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Nachname: {{contact.nachname}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>E-Mail: {{contact.email}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Land: {{contact.land}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Adresse: {{contact.adresse}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Stadt: {{contact.stadt}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Postzeilzahl: {{contact.plz}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Beschreibung: {{contact.beschreibung}}</p>
  </div>
  <div class="border border-t-0 border-green-300 rounded-b bg-green-100 px-4 py-3 text-black-900">
    <p>Nachricht: {{contact.nachricht}}</p>
  </div>
</div>
