<!-- component -->
<table class="min-w-full border-collapse block md:table">
  <thead class="block md:table-header-group">
    <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
      <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Datum</th>
      <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Beschreibung</th>
      <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Nachricht</th>
      <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">Aktionen</th>
    </tr>
  </thead>
  <tbody class="block md:table-row-group">




    <tr class="bg-gray-300 border border-grey-500 md:border-none block md:table-row" *ngFor="let item of cont;let indexOfelement=index;">
      <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Erstellt am</span>{{cont![indexOfelement].datum | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">User Name</span>{{cont![indexOfelement].beschreibung}}</td>
      <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Email Address</span>{{cont![indexOfelement].nachricht}}</td>
      <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
        <button class="bg-lime-600 hover:bg-lime-700 text-white font-bold py-1 px-2 border border-lime-500 rounded" (click)="DetailsAnfrage(anfragenArray![indexOfelement].id)">Details</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded" (click)="UpdateAnfrage(anfragenArray![indexOfelement].id)">Edit</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded" (click)="EntferneAnfrage(anfragenArray![indexOfelement].id)">Löschen</button>
      </td>
    </tr>
  </tbody>
</table>
<br />
<!-- component -->
<div class="ml-2">
  <button [routerLink]="['/index']" class="bg-blue-500 hover:bg-blue-dark-500 text-white font-bold py-2 px-4 border border-blue-500 rounded">
    Neue Anfrage erstellen
  </button>
</div>
