<!-- <a [routerLink]="['/']">Home</a>
<a [routerLink]="['/admin']">Admin</a>
<a [routerLink]="['/admin', 'details']">Admindetails</a> -->

<h1>oder sollen wir Sie "{{usernameSession}}" nennen?</h1>


<h2>Sortierung ['group', 'value']</h2>
<ul>
  <li *ngFor="let a of (arr | simpleOrderBy:['group', 'value']:'ASC'); index as index">{{ index+1 }}. {{ a.group }} - {{ a.value  }}</li>
</ul>

<br />
<br />

<h2>Kontakt:</h2>
<form>
  Ihre E-Mail-Adresse: <input type="text" required /><br />
  Grund ihrer Nachricht:
  <select required>
    <option>Allgemeine Frage</option>
    <option>Beleidigung</option>
    <option>Geheim</option>
    <option>Sonstige</option>
  </select><br />
  Ihre Nachricht:<br />
  <textarea cols="100" rows="20">
  </textarea><br />
  Akzeptieren die AGBs um eine Antwort zu erhalten. Einfach den Button anklicken.
  <input type="checkbox" required><br />
  <button type="reset">Reset</button>
  <button type="submit">Submit</button>
</form>

<div>
  {{contact.plz}}
  {{contact.strasse}}
  {{ val }}
  <br />
  <p>Daten aus der Datenbank:</p>
  {{array}}
</div>
